@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Handjet:wght@300&family=Lumanosimo&family=Playfair+Display:ital@1&family=Poppins&family=Roboto&family=Roboto+Condensed&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
}